
<div class="container">

  <div class="col">
    <button (click)="GetAirCalibrationData()" class="btn btn-primary btn-block">Get Air Calibration Data</button>
  </div>
  <br />

  <div class="col">
    <div class="row">
      <label for="Kv" style="height:100px; width:200px; text-align:right;">Kv:</label>
      <select name="Kv" id="Kv" ngModel class="form-control col-3" multiple>
        <option *ngFor="let c of kvList" [value]="c">
          {{c}}
        </option>
      </select>&nbsp;
    </div>
    <div class="row mt-1">
      <label for="focalspot" style=" width: 200px; text-align: right;">Focal Spot:</label>
      <select name="focalspot" id="focalspot" ngModel class="form-control col-3">
        <option *ngFor="let c of focalSpotList" [value]="c">
          {{c}}
        </option>
      </select>&nbsp;
    </div>
    <div class="row mt-1">
      <label for="colm" style=" width: 200px; text-align: right;">Collimation:</label>
      <select name="colm" id="colm" ngModel class="form-control col-3">
        <option *ngFor="let c of collimationList" [value]="c">
          {{c}}
        </option>
      </select>&nbsp;
    </div>
    <div class="row mt-1">
      <label for="rotation" style=" width: 200px; text-align: right;">Rotation:</label>
      <select name="rotation" id="rotation" ngModel class="form-control col-3">
        <option *ngFor="let c of rotationList" [value]="c">
          {{c}}
        </option>
      </select>&nbsp;
    </div>

    <div class="row mx-auto mt-1">
      <button (click)="StartAirCalibration()" class="btn btn-success btn-block">Start Air Calibration</button>
    </div>
    <div class="row mx-auto mt-1">
      <button (click)="StartAirCalibrationSequence()" class="btn btn-info btn-block">Start Air Calibration Sequence</button>
    </div>
    <div class="row mx-auto mt-1">
      <button (click)="CancelAirCalibration()" class="btn btn-danger btn-block">Cancel Air Calibration</button>
    </div>

  </div>
  <br />

  <div class="col">
    <div class="row">
      <label for="WarmupType" style=" width: 200px; text-align: right;">WarmupType:</label>
      <select name="WarmupType" id="WarmupType" ngModel class="form-control col-3">
        <option value="cold">Cold</option>
      </select>
    </div>
    <div class="row mx-auto mt-2">
      <button (click)="StartWarmup()" class="btn btn-success btn-block">Start Warm up</button>
    </div>
    <div class="row mx-auto mt-1">
      <button (click)="StartWarmupSequence()" class="btn btn-info btn-block">Start Warm up Sequence</button>
    </div>
    <div class="row mx-auto mt-1">
      <button (click)="CancelWarmup()" class="btn btn-danger btn-block">Cancel Warmup</button>
    </div>
  </div>

  <div class="col">
    <div class="container mx-auto mt-2" style="height: 300px; overflow: scroll; background-color: #000000;">
      <div class="list-group">
        <small *ngFor="let c of logMsg" style="color: #4cff00">{{c}}</small>
      </div>
    </div>
  </div>
</div>



